<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smarties - Home</title>
  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/search-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/to-do.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link href="http://fonts.cdnfonts.com/css/salsa" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/raleway-5" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/vendor/jquery-ui.js"></script>
  <!--in-line script-->
  <script>
    $(function () {
      $("ul").draggable({
        snap: true,
        cursor: "move",
        revert: "valid"
      });
      $('.dropTarget').droppable({
        snap: true
      });
    });
  </script>
</head>

<body>
  <nav>
    <span class="left-side" id="username"><i class="fas fa-user"></i></span>
    <!-- Login form -->
    <div class="login">
      <div class="br"></div>
      <form method="POST" action="/api/requests" id="login">
        <p>
        <h4 class="login">Let me see my list!!</h4>
        </p>
        <p>
          <input type="text" name="email" id="email" placeholder="email" />
        </p>
        <p>
          <input type="password" name="password" id="password" placeholder="password" />
        </p>
        <p>
          <button type="submit" class="login-button">Login</button>
        </p>
      </form>
    </div>
    <h1 class="nav center">Smart To-Do List</h1>
    <span class="right-side" id="new"><i class="fas fa-user-plus"></i></span>
    <span class="right-side" id="logout"><i class="fas fa-sign-out-alt"></i></span>
    <!-- Register form -->
    <div class="register" id="register">
      <form class="br" method="POST" action="/api/requests/register" id="register">
        <p>
        <h4 class="edit">New user</h4>
        </p>
        <p>
          <input type="text" name="name" id="name" placeholder="username" required>
        </p>
        <p>
          <input type="text" name="email" id="new-email" placeholder="email" required>
        </p>
        <p>
          <input type="password" name="password" id="new-password" placeholder="password" required>
        </p>
        <p>
          <button type="submit" class="register-button">Submit</button>
        </p>
      </form>
    </div>
  </nav>
  <!-- Search bar -->
  <div class="search-box">
    <div class="error"></div>
    <form id="search-form" action="/" method="POST">
      <div id="input-group">
        <input type="text" id="search" placeholder="What do you need to do?" required>
        <button type="submit" id="search-icon">
          <i class="fas fa-search-plus"></i>
        </button>
      </div>
    </form>
  </div>
  <!-- Main To-Do -->
  <div class="todo-box">
    <!-- Title -->
    <div class="center">
      <h2 class="center">My List</h2>
      <img>
    </div>
    <div class="to-do-container">
      <!-- Food-->
      <div class="category-box food">
        <div class="bg"> </div>
        <h3 class="box-name">Food</h3>
        <ul class="sortable dropTarget" id='food'>
        </ul>
      </div>
      <!-- Books -->
      <div class="category-box book">
        <div class="bg"> </div>
        <h3 class="box-name">Books</h3>
        <ul id='book' class="sortable dropTarget">
        </ul>
      </div>
      <!-- Film -->
      <div class="category-box film">
        <div class="bg"> </div>
        <h3 class="box-name">Film</h3>
        <ul id='film' class="dropTarget">
        </ul>
      </div>
      <!-- Products-->
      <div class="category-box product">
        <div class="bg"> </div>
        <h3 class="box-name">Products</h3>
        <ul id='product' class="sortable dropTarget">
        </ul>
      </div>
    </div>
    <!-- Custom list -->
    <div class="custom-list">
      <h3 class="box-name">Custom List</h3>
      <ul id='other' class="sortable dropTarget">
      </ul>
    </div>
  </div>
  <footer class="footer">
    <p class="copyright">&copy; 2022
      <br />
      <i class="far fa-thumbs-up"></i>
      <i class="fab fa-twitter"></i>
      <i class="fas fa-share"></i>
    </p>
  </footer>
</body>
</html>