<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home page</title>
  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/search-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/to-do.css" type="text/css" />
  <link href="http://fonts.cdnfonts.com/css/salsa" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <a href="#" class="left-side">Login/Logout</a>
    <h1 class="nav center">Smart To-Do List</h1>
    <a href="#" class="right-side">Register</a>
  </nav>
  <div class="search-box">
    <form id="search-form" action="#" method="POST">
      <i class="fas fa-search-plus"></i>
      <span id="search-value">What do you need to do?</span>
    </form>
  </div>
  <!-- Main To-Do -->
  <div class="todo-box">
    <!-- Title -->
    <div class="center">
      <h2 class="center">Summer Vacation</h2>
      <img>
    </div>
    <div class="to-do-container">
      <!-- Food-->
      <div class="category-box food"> 
        <div class= "bg"> </div>
        <h3 class="box-name">Food</h3>
        <div class="item">
          <input type="checkbox">
          <span>Item value</span>
          <img>
        </div>        
      </div>
      <!-- Books -->
      <div class="category-box books">
        <div class= "bg"> </div>
        <h3 class="box-name">Books</h3>
        <div class="item">
          <input type="checkbox">
          <span>Item value</span>
          <img>
        </div>
      </div>
      <!-- Film -->
      <div class="category-box film">
        <div class= "bg"> </div>
        <h3 class="box-name">Film</h3>
        <div class="item">
          <input type="checkbox">
          <span>Item value</span>
          <img>
        </div>
      </div>
      <!-- Products-->
      <div class="category-box products">
        <div class= "bg"> </div>
        <h3 class="box-name">Products</h3>
        <div class="item">
          <input type="checkbox">
          <span>Item value</span>
          <img>
        </div>
      </div>
    </div>
    <!-- Custom list -->
    <div class="custom-list">
      <h3 class="box-name">Custom List</h3>
      <div class="item">
        <input type="checkbox">
        <span>Item value</span>
        <img>
      </div>
    </div>
  </div>


</body>

</html>