$font-stack: Raleway;
$primary-color: #DBD9CA;
$nav-color: #F5B308;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font: 100% $font-stack;

  background: #E5E5E5;
}
