$font-stack: Salsa;
$primary-color: #DBD9CA;
$nav-color: #F5B308;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font: 100% $font-stack;

  background: #E5E5E5;
  // background: linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgb(148, 154, 173) 20%,
  //   rgb(76, 79, 92) 34%,
  //   rgb(211, 219, 163) 59%,
  //   rgb(223, 221, 106) 74%,
  //   rgb(215, 219, 163) 100%
  // );
}
