$restaurant: url(../rest.jpg);
$books: url(../booksstack.jpg);
$film: url(../film.png);
$products: url(../products.jpg);
$other: url(../thinkbubble.jpg);

.todo-box {
  display: flex;
  width: 100%;
  height: 100%;
  background: #DBD9CA;
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
  margin-bottom:5%;
  padding-top: 20px;
  .center {
    align-items: center;
    padding-bottom: 5px;
  }
  .to-do-container {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
  }
  .category-box{
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    width: 20%;
    h3 {
      text-align: center;
      visibility: hidden;
    }
    .item {
      list-style-type: none;
      text-align: center;
      visibility: hidden;
      margin-bottom: 3%;
    }
    .delete {
      border: none;
      background: #DBD9CA;
    }
    .bg {
      position:absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      border-radius: 10px;  
      transition: opacity 1.5s;
      z-index: 1;
    }
    &.food {
      .bg {
      background-image: $restaurant;
      }
    }
    &.books {
      .bg {
      background-image: $books;
      }
    }
    &.film {
      .bg {
      background-image: $film;
      }
    }
    &.products {
      .bg {
      background-image: $products;
      
      }
    }
    &:hover {
      .bg {
        opacity: 0;
        z-index: 0;
      }
      h3 {
        position: relative;
        visibility:visible;
      }
      .item {
        position: relative;
        visibility:visible;        
      } 
      .delete {
        background: none;
      }  
    } 
  }
  .custom-list {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    background-image: $other;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;
    
    h3 {
      text-align: center;
    }
    .item {
      list-style-type: none;
      //text-align: left;
      margin-left: 3%;
      margin-bottom: 3%;
    }
    .delete {
      background: none;
      border: none;
    } 
  }
}